

*{
margin: 0px;
}

body{
  background-color: black;
}

.app__register{
  display: flex;
  flex-direction: column ;
}

.app__header{
  padding:15px;
  background-color: lightgray;
  border-bottom:1px solid black; 
  margin-bottom: 10px;
}

.app__img{
  height:50px;
  width:50px;

}

.app__sign{
  display: flex;
  float: right;
  justify-content: center;
}

.app__logo{
  display: inline-flex;
  align-items: center;
  
}

