.imageupload__header{
    background-color: gray;
    text-align: center;
    object-fit: contain;
    border-radius: 50px;
    margin:10px;
    padding-bottom: 20px;
    padding-top:20px;
}

.cap{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    margin-bottom: 10px;
    
}

.img__caption{
    flex:20%;
    padding-bottom:20px ;
    margin-right: 10px;
}

.img__file{
    flex:10%;
}
/* .hide{
    visibility: hidden;
} */

/* .dropdown_menu-6{
  animation: growDown 300ms ease-in-out forwards;
}
  .dropdown_menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    display: none;
  }
  .dropdown:hover .dropdown_menu--animated{
    display: block;
  }
   */